In [2]:
import pandas as pd
import numpy as np

In [6]:
ser=pd.Series(np.random.rand(34))

In [7]:
ser

0     0.413900
1     0.875125
2     0.177503
3     0.259720
4     0.267127
5     0.950239
6     0.422064
7     0.569732
8     0.918343
9     0.611301
10    0.388470
11    0.659419
12    0.762492
13    0.377975
14    0.485102
15    0.081683
16    0.091591
17    0.560800
18    0.884016
19    0.099825
20    0.227607
21    0.246983
22    0.277830
23    0.217295
24    0.138961
25    0.772029
26    0.630817
27    0.035072
28    0.706468
29    0.782084
30    0.539809
31    0.912123
32    0.747491
33    0.976481
dtype: float64

In [8]:
type(ser)

pandas.core.series.Series

In [10]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [13]:
newdf

            0         1         2         3         4
0    0.762745  0.471321  0.601230  0.903279  0.527350
1    0.536596  0.304414  0.023738  0.476616  0.212659
2    0.651976  0.135305  0.186230  0.522633  0.123873
3    0.932657  0.856253  0.276943  0.550365  0.803544
4    0.444199  0.452174  0.284133  0.192204  0.930844
..        ...       ...       ...       ...       ...
329  0.982911  0.834296  0.063858  0.658507  0.967162
330  0.940048  0.666307  0.184197  0.554276  0.857182
331  0.852085  0.535929  0.254301  0.810494  0.422246
332  0.577300  0.216600  0.516643  0.895405  0.867340
333  0.092103  0.855859  0.962292  0.073831  0.833467

[334 rows x 5 columns]

In [14]:
type(newdf)

pandas.core.frame.DataFrame

In [15]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.527226    0.499037    0.467515    0.519441    0.513256
std      0.290359    0.290431    0.294398    0.298998    0.281076
min      0.002253    0.001158    0.003074    0.006529    0.007677
25%      0.260476    0.239801    0.218651    0.252812    0.288510
50%      0.548757    0.497920    0.433533    0.542921    0.523398
75%      0.783835    0.767286    0.714105    0.778962    0.757293
max      0.999165    0.999655    0.998786    0.999915    0.998871

In [22]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [31]:
newdf.head()

          0         1         2         3         4
0       0.3  0.471321  0.601230  0.903279  0.527350
1  0.536596  0.304414  0.023738  0.476616  0.212659
2  0.651976  0.135305  0.186230  0.522633  0.123873
3  0.932657  0.856253  0.276943  0.550365  0.803544
4  0.444199  0.452174  0.284133  0.192204  0.930844

In [30]:
newdf[0][0]=0.3

<ipython-input-30-eac6c0129347>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[0][0]=0.3

In [32]:
newdf.head()

          0         1         2         3         4
0       0.3  0.471321  0.601230  0.903279  0.527350
1  0.536596  0.304414  0.023738  0.476616  0.212659
2  0.651976  0.135305  0.186230  0.522633  0.123873
3  0.932657  0.856253  0.276943  0.550365  0.803544
4  0.444199  0.452174  0.284133  0.192204  0.930844

In [27]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [28]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [35]:
newdf.to_numpy()

array([[0.3, 0.47132111944682953, 0.6012301382967348, 0.9032794633066441,
        0.5273499774725657],
       [0.536595901864974, 0.3044139827724517, 0.02373804867831464,
        0.47661592205844383, 0.21265912369378748],
       [0.6519761195712809, 0.13530477544069663, 0.18622978550905833,
        0.5226326598374984, 0.12387289158425863],
       ...,
       [0.8520845164656429, 0.535928951560933, 0.25430128144398945,
        0.8104943953243753, 0.42224580027209135],
       [0.5772996489765058, 0.21659963508281, 0.5166432651856189,
        0.8954045299427743, 0.8673401937757742],
       [0.0921029526843008, 0.8558587259219506, 0.9622921545402763,
        0.0738314552819962, 0.8334672745554705]], dtype=object)

In [36]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,0.536596,0.651976,0.932657,0.444199,0.251491,0.747574,0.468137,0.270365,0.588666,...,0.35262,0.699036,0.342712,0.309517,0.761828,0.982911,0.940048,0.852085,0.5773,0.092103
1,0.471321,0.304414,0.135305,0.856253,0.452174,0.565857,0.572376,0.202436,0.054251,0.224653,...,0.964644,0.968831,0.621867,0.442175,0.639374,0.834296,0.666307,0.535929,0.2166,0.855859
2,0.60123,0.023738,0.18623,0.276943,0.284133,0.215634,0.365972,0.858523,0.157972,0.017475,...,0.851328,0.192874,0.076907,0.276885,0.466411,0.063858,0.184197,0.254301,0.516643,0.962292
3,0.903279,0.476616,0.522633,0.550365,0.192204,0.252831,0.980377,0.158525,0.788544,0.169793,...,0.10172,0.339321,0.983739,0.476115,0.933437,0.658507,0.554276,0.810494,0.895405,0.073831
4,0.52735,0.212659,0.123873,0.803544,0.930844,0.445339,0.712428,0.715594,0.037481,0.583174,...,0.598393,0.493871,0.441096,0.258014,0.333424,0.967162,0.857182,0.422246,0.86734,0.833467

In [37]:
newdf.head()

          0         1         2         3         4
0       0.3  0.471321  0.601230  0.903279  0.527350
1  0.536596  0.304414  0.023738  0.476616  0.212659
2  0.651976  0.135305  0.186230  0.522633  0.123873
3  0.932657  0.856253  0.276943  0.550365  0.803544
4  0.444199  0.452174  0.284133  0.192204  0.930844

In [40]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.092103  0.855859  0.962292  0.073831  0.833467
332    0.5773  0.216600  0.516643  0.895405  0.867340
331  0.852085  0.535929  0.254301  0.810494  0.422246
330  0.940048  0.666307  0.184197  0.554276  0.857182
329  0.982911  0.834296  0.063858  0.658507  0.967162
..        ...       ...       ...       ...       ...
4    0.444199  0.452174  0.284133  0.192204  0.930844
3    0.932657  0.856253  0.276943  0.550365  0.803544
2    0.651976  0.135305  0.186230  0.522633  0.123873
1    0.536596  0.304414  0.023738  0.476616  0.212659
0         0.3  0.471321  0.601230  0.903279  0.527350

[334 rows x 5 columns]

In [41]:
newdf.head()

          0         1         2         3         4
0       0.3  0.471321  0.601230  0.903279  0.527350
1  0.536596  0.304414  0.023738  0.476616  0.212659
2  0.651976  0.135305  0.186230  0.522633  0.123873
3  0.932657  0.856253  0.276943  0.550365  0.803544
4  0.444199  0.452174  0.284133  0.192204  0.930844

In [44]:
newdf[0]

0           0.3
1      0.536596
2      0.651976
3      0.932657
4      0.444199
         ...
329    0.982911
330    0.940048
331    0.852085
332      0.5773
333    0.092103
Name: 0, Length: 334, dtype: object

In [45]:
type(newdf[0])

pandas.core.series.Series

In [46]:
newdf2=newdf

In [47]:
newdf2[0][0]=4545

<ipython-input-47-5e5171ddf668>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0]=4545

In [49]:
newdf

            0         1         2         3         4
0        4545  0.471321  0.601230  0.903279  0.527350
1    0.536596  0.304414  0.023738  0.476616  0.212659
2    0.651976  0.135305  0.186230  0.522633  0.123873
3    0.932657  0.856253  0.276943  0.550365  0.803544
4    0.444199  0.452174  0.284133  0.192204  0.930844
..        ...       ...       ...       ...       ...
329  0.982911  0.834296  0.063858  0.658507  0.967162
330  0.940048  0.666307  0.184197  0.554276  0.857182
331  0.852085  0.535929  0.254301  0.810494  0.422246
332    0.5773  0.216600  0.516643  0.895405  0.867340
333  0.092103  0.855859  0.962292  0.073831  0.833467

[334 rows x 5 columns]