In [1]:
#video 52

# Object oriented Programming

In [6]:
#1

class student:
    pass

ob1=student()
ob2=student()
print(ob1,ob2)

<__main__.student object at 0x000001E372E63AF0> <__main__.student object at 0x000001E372E63F70>

In [10]:
class student:
    pass

ob1=student()
ob1.name="ankit"
ob1.salary=5000

ob2=student()
ob2.name="amit"
ob2.salary=8000
print(ob1.name)
print(ob2.name)

ankit
amit

In [13]:
# 2

class Employee:
    noofleaves=8
harry=Employee()
rohan=Employee()

harry.name="harry"
rohan.name="rohan"
Employee.noofleaves=78
print(harry.noofleaves)
print(rohan.noofleaves)

78
78

In [27]:
# 3

class Employee:
    def printdetails(self):
        return (f"Name is {self.name}")

harry=Employee()
rohan=Employee()

harry.name="harry"
rohan.name="rohan"

print(harry.printdetails())
print(rohan.printdetails())

Name is harry
Name is rohan

In [34]:
# 4
# constructor

class Employee:
    def __init__(self,aname,asalary,arole): # constructor
        self.name=aname
        self.salary=asalary
        self.role=arole

harry=Employee("Harry",455,"Instructor")

print(harry.salary)

455

In [35]:
#5  Class methods

class Employee:
    leaves=12
    def __init__(self,aname,asalary,arole): 
        self.name=aname
        self.salary=asalary
        self.role=arole

    @classmethod
    def changeleaves(cls,newleaves):
        cls.leaves=newleaves



harry=Employee("Harry",455,"Instructor")
harry.changeleaves(20)
print(harry.leaves)

20

In [1]:
# 52
# Decorators